<div class="container">
    <h2 class="mt-5">Liste des tâches</h2>


    <div class="my-5">
        <div class="mb-3">
            <input type="text" class="form-control"  #taskTitle placeholder="Titre de la tache">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" #taskDescription placeholder="Description de la tâche">
        </div>
        <button (click)="addTask(taskTitle.value , taskDescription.value)" class="btn btn-primary">Ajouter</button>
    </div>

    <table class="table my-5">
        <tbody>
          <tr *ngFor="let task of tasks">
            <td> <input type="checkbox" [checked]="task.completed" (change)="task.completed=!task.completed; updateTask(task)"></td>
            <td>{{task.title}} </td>
            <td>{{task.description}}</td>
            <td><button (click)="deleteTask(task.id!)" class="btn btn-danger">Supprimer</button></td>
          </tr>
        </tbody>
      </table>
</div>